node_modules
.turbo
dist
!packages/design-system/dist/
!packages/design-system/dist/**
dist-ssr
*.local
**/build/
**/.turbo/
.env
.env.*
!.env.example
apps/web/dist/
apps/web/output/
apps/web/coverage/
